html, body {
    margin:0px;
    padding:0px;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:14px;
}

body {
	background: #F2F2F2;
}
#gameScreenWrapper {
	margin:0px auto;
	width:400px;
	height:300px;
    position:relative;
}
#gameScreen {
	border: solid 1px #DDD;
	background: #FFF;
    padding:0px;
}
#snakeImage {
    width:400px;
    margin:0px auto;
}

header{
    width:400px;
    margin:0px auto;
    border:1px solid #DDD;
    background:#FFF;
    text-align:center;
    margin-bottom: 10px;
}
#restart, #pauseStart {
    width:200px;
    margin:5px;
    padding: 5px;
    background:#F5F5F5;
    font-size: 15px;
}
#message {
    position:absolute;
    top:0px;
    left:0px;
    z-index:999;
    font-size: 20px;
    padding-top: 33%;
    padding-bottom:33%;
    text-align: center;
    width:400px;
}
#messageBackground {
    background: #1E90FF;
    opacity:0.4;
    filter:alpha(opacity=40);
    position:absolute;
    top:0px;
    left:0px;
    z-index:998px;
    width:400px;
    height:300px;
}
footer{
    width:400px;
    margin:10px auto;
    font-weight:bold;
    text-align:right;
}